.home_setting_active {
  width: 240px;
  height: 63px;
  position: relative;
  flex: none;
  order: 5;
  flex-grow: 0;
  background-color: #fff;
}

.home_setting_case {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  position: absolute;
  width: 102px;
  height: 24px;
  left: 55px;
  top: 19px;
}

.home_setting_img {
  width: 24px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.home_setting_text_active {
  width: 66px;
  height: 24px;

  color: #110b65;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.category_wrapper {
  width: 250px;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  gap: 100px;
  border-bottom: 0.5px solid rgba(112, 112, 112, 0.1);
  position: relative;
  left: -250px;
  top: 50px;
}

.profile_category_text {
  color: #110b65;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile_category_text1 {
  color: #707070;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.profile_category_line {
  width: 120px;
  height: 4px;
  display: flex;
  flex-shrink: 0;
  stroke-width: 5px;
  background-color: #110b65;
  position: absolute;
  top: 30px;
}

.category_main_case {
  display: flex;
  width: 715px;
  height: 792px;
  padding: 24px 473px 606px 31px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  top: 100px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 4px 1px rgba(17, 11, 101, 0.1);
  margin-bottom: 300px;
}

.category_main_text {
  color: #110b65;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.category_input {
  display: flex;
  height: 100px;
  padding: 57px 0px 7px 69px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  border-radius: 200px;
  background: #cbcbcb;
}

.category_input_case {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 90px;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile_input_wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.profile_firstnlast {
  display: flex;
  align-items: flex-start;
  gap: 45px;
  width: 645px;
}

.profile_firstname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 300px;
}

.profile_firstname_text {
  color: #110b65;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  right: 110px;
}

.profile_firstname_input {
  display: flex;
  padding: 12px 210px 12px 20px;
  align-items: center;
  gap: 14px;
  width: 100%;
  border-radius: 8px;
  border: 0.3px solid #e6eaee;
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
}

.profile_lastname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 300px;
}

.profile_lastname_text {
  color: #110b65;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  right: 110px;
}

.profile_lastname_input {
  display: flex;
  padding: 12px 210px 12px 20px;
  align-items: center;
  gap: 14px;
  width: 100%;
  border-radius: 8px;
  border: 0.3px solid #e6eaee;
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
}

.profile_email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 645px;
}

.profile_email_text {
  color: #110b65;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  right: 300px;
}

.profile_email_input {
  display: flex;
  width: 644px;
  padding: 12px 210px 12px 20px;
  align-items: center;
  gap: 14px;
  width: 100%;
  border-radius: 8px;
  border: 0.3px solid #e6eaee;
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
}

.profile_phone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 645px;
}

.profile_phone_text {
  color: #110b65;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  right: 270px;
}

.profile_phone_input {
  display: flex;
  width: 645px;
  padding: 12px 210px 12px 20px;
  align-items: center;
  gap: 14px;
  width: 100%;
  border-radius: 8px;
  border: 0.3px solid #e6eaee;
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
}

.profile_password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 274px;
  position: relative;
  right: 180px;
}

.profile_password_text {
  color: #110b65;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  right: 100px;
}

.profile_password_input {
  display: flex;
  width: 100%;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 0.3px solid #e6eaee;
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
}

.profile_toggle {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  top: -50px;
  left: 100px;
}

.profile_button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #110b65;
  width: 184px;
  height: 30px;
  text-decoration: none;
  position: relative;
  right: 40px;
}

.profile_button_text {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  top: 8px;
  position: relative;
}

@media screen and (max-width: 1220px) {
  .category_wrapper {
    width: 250px;
    height: 30px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    gap: 100px;
    border-bottom: 0.5px solid rgba(112, 112, 112, 0.1);
    position: relative;
    left: 50px;
    top: 53px;
  }

  .profile_category_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .profile_category_text1 {
    color: #707070;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

  .profile_category_line {
    width: 120px;
    height: 4px;
    display: flex;
    flex-shrink: 0;
    stroke-width: 5px;
    background-color: #110b65;
    position: absolute;
    top: 30px;
  }

  .category_main_case {
    display: flex;
    width: 600px;
    height: 792px;
    padding: 24px 473px 606px 31px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    top: 100px;
    flex-shrink: 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 1px rgba(17, 11, 101, 0.1);
    margin-bottom: 300px;
    left: 10%;
  }

  .category_main_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 300px;
  }

  .category_input {
    display: flex;
    height: 100px;
    padding: 57px 0px 7px 69px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 200px;
    background: #cbcbcb;
  }

  .category_input_case {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .profile_input_wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 500px;
  }

  .profile_firstnlast {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 500px;
  }

  .profile_firstname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  .profile_firstname_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    right: 80px;
  }

  .profile_firstname_input {
    display: flex;
    padding: 12px 60px 12px 20px;
    align-items: center;
    gap: 14px;
    width: 100%;
    border-radius: 8px;
    border: 0.3px solid #e6eaee;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
  }

  .profile_lastname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  .profile_lastname_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    right: 80px;
  }

  .profile_lastname_input {
    display: flex;
    padding: 12px 60px 12px 20px;
    align-items: center;
    gap: 14px;
    width: 100%;
    border-radius: 8px;
    border: 0.3px solid #e6eaee;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
  }

  .profile_email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    width: 500px;
  }

  .profile_email_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    right: 230px;
  }

  .profile_email_input {
    display: flex;
    width: 644px;
    padding: 12px 60px 12px 20px;
    align-items: center;
    gap: 14px;
    width: 100%;
    border-radius: 8px;
    border: 0.3px solid #e6eaee;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
  }

  .profile_phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    width: 500px;
  }

  .profile_phone_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    right: 200px;
  }

  .profile_phone_input {
    display: flex;
    width: 645px;
    padding: 12px 60px 12px 20px;
    align-items: center;
    gap: 14px;
    width: 100%;
    border-radius: 8px;
    border: 0.3px solid #e6eaee;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
  }

  .profile_password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    width: 274px;
    position: relative;
    right: 110px;
  }

  .profile_password_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    right: 100px;
  }

  .profile_password_input {
    display: flex;
    width: 100%;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 0.3px solid #e6eaee;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
  }

  .profile_toggle {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    top: -50px;
    left: 100px;
  }

  .profile_button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #110b65;
    width: 184px;
    height: 30px;
    text-decoration: none;
    position: relative;
    right: 40px;
  }

  .profile_button_text {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    top: 8px;
    position: relative;
  }
}

@media screen and (max-width: 936px) {
  .category_wrapper {
    width: 250px;
    height: 30px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    gap: 100px;
    border-bottom: 0.5px solid rgba(112, 112, 112, 0.1);
    position: relative;
    left: auto;
    top: 180px;
    text-decoration: none;
  }

  .profile_category_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .profile_category_text1 {
    color: #707070;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }

  .profile_category_line {
    width: 120px;
    height: 4px;
    display: flex;
    flex-shrink: 0;
    stroke-width: 5px;
    background-color: #110b65;
    position: absolute;
    top: 30px;
  }

  .category_main_case {
    display: flex;
    width: 250px;
    height: 900px;
    padding: 24px 353px 530px 31px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    top: 250px;
    flex-shrink: 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 1px rgba(17, 11, 101, 0.1);
    margin-bottom: 300px;
    left: 2%;
  }

  .category_main_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 200px;
  }

  .category_input {
    display: flex;
    height: 100px;
    padding: 57px 0px 7px 69px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 200px;
    background: #cbcbcb;
  }

  .category_input_case {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .profile_input_wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 200px;
  }

  .profile_firstnlast {
    display: block;
    align-items: flex-start;
    gap: 40px;
    width: 200px;
  }

  .profile_firstname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    padding-bottom: 30px;
  }

  .profile_firstname_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    right: 110px;
  }

  .profile_firstname_input {
    display: flex;
    padding: 12px 60px 12px 20px;
    align-items: center;
    gap: 14px;
    width: 100%;
    border-radius: 8px;
    border: 0.3px solid #e6eaee;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
  }

  .profile_lastname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  .profile_lastname_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    right: 110px;
  }

  .profile_lastname_input {
    display: flex;
    padding: 12px 60px 12px 20px;
    align-items: center;
    gap: 14px;
    width: 100%;
    border-radius: 8px;
    border: 0.3px solid #e6eaee;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
  }

  .profile_email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    width: 300px;
  }

  .profile_email_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    right: 125px;
  }

  .profile_email_input {
    display: flex;
    width: 644px;
    padding: 12px 60px 12px 20px;
    align-items: center;
    gap: 14px;
    width: 100%;
    border-radius: 8px;
    border: 0.3px solid #e6eaee;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
  }

  .profile_phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    width: 300px;
  }

  .profile_phone_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    right: 95px;
  }

  .profile_phone_input {
    display: flex;
    width: 645px;
    padding: 12px 60px 12px 20px;
    align-items: center;
    gap: 14px;
    width: 100%;
    border-radius: 8px;
    border: 0.3px solid #e6eaee;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
  }

  .profile_password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    width: 300px;
    position: relative;
    right: 0px;
  }

  .profile_password_text {
    color: #110b65;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    right: 110px;
  }

  .profile_password_input {
    display: flex;
    width: 100%;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 0.3px solid #e6eaee;
    background: #fff;
    box-shadow: 0px 1px 8px 0px rgba(86, 86, 86, 0.1);
  }

  .profile_toggle {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    top: -50px;
    left: 120px;
  }

  .profile_button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #110b65;
    width: 60%;
    height: 35px;
    text-decoration: none;
    position: relative;
    right: 0px;
  }

  .profile_button_text {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    top: 8px;
    position: relative;
  }
}
