.forgot_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15% 10%;
  border-radius: 10px;
  gap: 10px;
}

.forgot_padlock {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.forgot_text {
  color: #110b65;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px; /* 118.75% */
}

.forgot_text1 {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.forgot_form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.forgot_email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.forgot_email_text {
  color: #191919;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  left: -140px;
}

.forgot_email_input {
  width: 330px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #787599;
}

.forgot_button {
  display: flex;
  width: 330px;
  height: 46px;
  padding: 18px 100px 18px 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #110b65;
  text-decoration: none;
}

.forgot_button_text {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.forgot_login {
  color: #b4b4b4;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
