*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* to make 1rem = 10px => 16px / 10 = 0.625 => 62.5% of current browser default */
  max-width: 100%;
}

body {
  box-sizing: border-box;
  color: #1e1f25;
  font-family: "Poppins";
}

*:focus {
  outline: none;
}

button {
  outline: none;
}

input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-left: 16px;
}
